<<<<<<< HEAD
@font-face {
  font-family: 'BankGothicLight';
  src: url('BankGothicLightBT.eot');
  src: url('BankGothicLightBT.woff') format('woff'),
  url('BankGothicLightBT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
=======
@font-face {
  font-family: 'BankGothicLight';
  src: url('BankGothicLightBT.eot');
  src: url('BankGothicLightBT.woff') format('woff'),
  url('BankGothicLightBT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
>>>>>>> eb629a6af1e007f99baabcf181b97c4796743f16
}