@font-face {
  font-family: 'BankGothicLight';
  src: url('BankGothicLightBT.eot');
  src: url('BankGothicLightBT.woff') format('woff'),
  url('BankGothicLightBT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}